-e git+git@gitlab.apsl.net:addonpayments/addonpayments-sdk-python.git@8014e0137721442a268b681f76486f13bde8776d#egg=addonpayments_sdk_python
appdirs==1.4.2
attrs==16.3.0
packaging==16.8
pluggy==0.4.0
py==1.4.32
pyparsing==2.1.10
python-decouple==3.0
requests==2.13.0
six==1.10.0
tox==2.6.0
virtualenv==15.1.0
xmltodict==0.10.2
